         {% if all_my_hash %}
        <h3>Here are all my Albums: </h3>
            <table border="1">
                <tr>
                    <td>name</td>
                    <td>value</td>
                    <td>type</td>
                    <td>date</td>
                </tr>
                {% for item in all_my_hash %}
                <tr>
                    <td><a href="" id="detail">{{ item.hash_name }}</a></td>
                    <td>{{ item.hash_value }}</td>
                    <td>{{ item.hash_type }}</td>
                    <td>{{ item.hash_date }}</td>
                </tr>
                {% endfor %}
            </table>
 {% else %}
        <h3>No hash</h3>
        <input type="button" onclick="location.href='/base/create/';" value="Scan">
    {% endif %}
