<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Temp</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a location href="/base/profile">Profile</a>
                </li>
                <li>
                    <a location href="/base/my_hash">My Hash Database</a>
                </li>
                <li>
                    <a location href='/base/create'>Create Hash</a>
                </li>
                <li>
                    <a location href='/base/virus_hash'>Virus Hash</a>
                </li>
                <li>
                    <a location href='/admin/'>Admin</a>
                </li>
                <li>
                    <a location href="/base/about">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Virus scan file Program</h1>
        {% if profile %}
            {% include 'profile_show.html' %}
        {% endif %}
        {% if my_hash %}
            {% include 'my_hash_show.html' %}
        {% endif %}
        {% if create %}
            {% include 'create_show.html' %}
        {% endif %}
        {% if virus_hash %}
            {% include 'virus_hash_show.html' %}
        {% endif %}
        {% if about %}
            {% include 'about.html' %}
        {% endif %}
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
