<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My_hash</title>
</head>
<body>
    {% if all_virus %}
        <h3>Here are all my Virus_hash: </h3>
            <table border="1">
                <tr>
                    <td>name</td>
                    <td>value</td>
                    <td>detail</td>
                    <td>date</td>
                </tr>
                {% for item in all_virus %}
                <tr>
                    <td><a href="" id="detail">{{ item.virus_file_name }}</a></td>
                    <td>{{ item.virus_hash_value }}</td>
                    <td>{{ item.virus_detail }}</td>
                    <td>{{ item.hash_date }}</td>
                </tr>
                {% endfor %}
            </table>
    {% else %}
        <h3>No virus</h3>
        <h3>{{ Hash.hash_type }}</h3>
    {% endif %}
</body>
</html>
